// SETUP
@import 'setup/typography';
@import 'setup/variables';
@import 'setup/mixins';
@import 'setup/functions';

// BASICS
@import 'basics/helpers';
@import 'basics/base';
@import 'basics/layout';

// VIEWS 
@import 'views/home';

// COMPONENTS
@import 'components/header';
@import 'components/job-list';
@import 'components/job-filter';


